# Yarn
.yarn/*
.yarn/cache
.yarn/releases
.yarn/plugins
.yarn/sdks
.yarn/versions
.DS_Store
# node.js
#
node_modules/
npm-debug.log
yarn-error.log

.turbo
**/*/.expo

**/*/.next

**/*/ios
**/*/android

build/**
# testing
/coverage
